.basketItem {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    /* max-width: 1100px; */
    border-bottom: 1px solid #cacaca;
}
.basketItem__image {
    object-fit: contain;
    margin-right: 50px;
    height: 250px;
}
.basketItem__right > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}
.basketItem__right > h2 {
    padding: 0 0 5px 0;
}
.basketItem__currencyValue {
    margin: 0 0 5px 0;
}
